.list .order {
	background: #fff;
}
.list .order li {
	width: 25%;
	float: left;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	color: #666;
	height: 30px;
	line-height: 30px;
}
.list .order li .arrow {
	border: 4px solid transparent;
	border-top-color: #000;
	position: relative;
	top: 11px;
	left: 3px;
}
.list .load-more {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	color: #CAC96F;
	font-size: 16px;
	text-align: center;
}
.list .load-more .arrow {
	border: 10px solid transparent;
	border-top-color: #CAC96F;
	font-size: 0;
	position: relative;
	left: 10px;
}
.list .load-more .arrow.white {
	position: absolute;
	top: -12px;
	left: -10px;
	border-top-color: white;

}